
/*Background*/
body {
    background-image: url("../images/prism.png");
    background-repeat: repeat;
}


/*Image stylings*/

.wrapper {
    display: flex;
    background-color: black;
    width: 800px;
    justify-content: center;
    align-items: space-around;
    flex-wrap: nowrap;
    box-sizing: border-box;
    margin: 0 auto;
}

.crystal-image {
    position: relative;
    width: 150px;
    height: 100px;
    padding: 20px;
    display: inline-block;
}

#totalScore {
    background-color: white;
    font-size: 20px;
    text-align: center;
    margin: 50px auto;
    height: 50px;
    width: 50%;
}