
/*Background*/

body {
    background-image: url("../images/prism.png");
    background-repeat: repeat;
}

h1 {
    text-align: center;
    size: 100px;
    color: white;
    font-family: 'Rajdhani', Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#instructions {
    background-color: white;
    font-size: 20px;
    text-align: center;
    margin: 50px auto;
    width: 50%;
    padding: 10px;
    font-family: 'Rajdhani', Arial, Helvetica, sans-serif;

}

h2 {
    background-color: white;
    font-family: 'Rajdhani', Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    margin: 10px auto;
    height: 50px;
    width: 50%;
}

#wins {
    background-color: white;
    font-size: 20px;
    text-align: center;
    margin: 10px auto;
    height: 50px;
    width: 50%;
    font-family: 'Rajdhani', Arial, Helvetica, sans-serif;
}

#losses {
    background-color: white;
    font-size: 20px;
    text-align: center;
    margin: 10px auto;
    height: 50px;
    width: 50%;
    font-family: 'Rajdhani', Arial, Helvetica, sans-serif;
}

/*Image stylings*/

.wrapper {
    display: flex;
    background-color: black;
    width: 800px;
    justify-content: center;
    align-items: space-around;
    flex-wrap: nowrap;
    box-sizing: border-box;
    margin: 0 auto;
}

.crystal-image {
    position: relative;
    width: 150px;
    height: 100px;
    padding: 20px;
    display: inline-block;
}

/*Total Score*/

#totalScore {
    background-color: white;
    font-size: 20px;
    text-align: center;
    margin: 50px auto;
    height: 50px;
    width: 50%;
    font-family: 'Rajdhani', Arial, Helvetica, sans-serif;
}